@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "Lato", sans-serif;
}

/* Farver */
:root{
--green100: #F0F4D3; 
--green500: #9AB032;
--green600: #849A28;
--green700: #5C6B20;
--green800: #3e491e;
--green900: #2c3414;

--sand100: #f9f7f3;
--sand200: #f3f1e8;
--sand300: #e1dbc7;

--white: #ffffff;
--orange: #ef8000;
--yellow: #fffac2;
--red: #d80100;
--pink: #ffc1c1;
--lightGrey: #bdbdbd;
--grey: #7c7c7c;

/* Box-shadow & overlay */
--boxShadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
--overlay: #1f1f1f, 50%;

/* Spacing */
--small: 2rem;
--standard: 4rem;
--large: 8rem;
}

/* Skriftstørrelser desktop*/
h1,
h2,
h3,
h4 {
font-family: "EB Garamond", serif;
font-weight: 700;
}

.heroH1 {
    font-size: 4rem;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 32px;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 75ch;
    margin-bottom: 16px;
    color: var(--green900);
}

.smallP {
    font-size: 0.875rem;
}

.preHeader {
    font-size: 1rem;
    color: var(--green700);
}

.detaljer {
    font-size: 1rem;
    color: var(--grey);
}

/* Buttons */
.btn-filled {
    color: var(--white);
    background-color: var(--green600);
    padding: 12px 32px;
    border-radius: 6px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}

.btn-filled:hover {
  background-color: var(--green500);
    transition: 0.3s;
    box-shadow: var(--boxShadow);
}

.btn-filled:active {
  background-color: var(--green700);
}

.btn-icon {
    padding: 12px 24px;
}

.btn-img-icon {
    width: 24px;
    height: 24px;
    padding-right: 4px;
}

.btn-outline {
    background-color: var(--white);
    border: 1.5px solid var(--green600);
    color: var(--green600);
}

.btn-disabled {
    background-color: var(--lightGrey);
    color: var(--grey);
}



/* Intro */
.intro {
    margin: var(--large) var(--standard);
    display: flex;
    gap: var(--large);
}

.introTekst h1 {
    margin-bottom: 32px;
}

.introBillede img{
    width: 520px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
}


/* Event */
.events {
    margin: var(--large) var(--standard);
}

.events h2 {
    text-align: center;
}

.eventCards {
    margin: var(--small);
    display: flex;
    justify-content: space-evenly;
}

.eventCard {
    display: flex;
}

.eventTekst{
    width: 265px;
    height: 440px;
    background-color: var(--green100);
    text-align: center;
}

.eventTekst h3 {
        margin-top: var(--small);
}

.eventBillede img{
    width: 265px;
    height: 440px;
    border-radius: 0;
}

/* Catering */
.catering {
    margin: var(--large) var(--standard);
    display: flex;
    gap: var(--large);
}

.cateringBillede img {
    height: 620px;
        border-radius: 12px;
}

/* Restaurant gavekort */
.restaurantGavekort {
    margin: 0, var(--large);
    gap: var(--large);
    background-image: url(/assets/img/catering_2.jpg);
    background-size: cover;
    width: 100%;
    align-items: center;
}

.restaurantGavekortTekst {
    display: inline-block;
    padding: var(--standard);
    margin: var(--large);
    background-color: var(--sand300);
    border-radius: 12px;
    width: 600px;
}

.restaurantGavekortTekst h2 {
    display: inline-block;
    border-bottom: 3px solid var(--green600);
    padding-bottom: 8px;
}

/* Hvem er vi sektion */
.hvemErVi {
    margin: var(--large) var(--standard);
    display: flex;
    gap: var(--large);
}

.hvemErViBillede img{
    width: 520px;
    height: 520px;
    object-fit: cover;
    border-radius: 12px;
}